<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partial/head-meta.ejs") %>
    <title>Dashboard</title>
  </head>

  <body>
    <div class="jumbotron centered">
      <div class="container">
        <i class="fas fa-8x fa-table"></i>
        <h1 class="display-3">Dashboard</h1>
        <p class="lead">Game User Database Dashboard<br>Created By Muhammad Didi Majdi Saleh<br>username : didi@email.com Password: didi</p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    
      </div>
    </div>
    <script
      type="text/javascript"
      src="public/script/bootstrap.min.js"
    ></script>
  </body>
</html>
