<!doctype html>
<html lang="en">

<head>
    <%- include("partial/head-meta.ejs") %>
    <title>Login</title>
</head>

<body class="text-center">

    <main class="form-signin">
        <form action="/login" method="POST">
            <h1 class="h3 mb-3 fw-normal signin-title">SIGN IN</h1>
            <input name="playerName" type="text" class="form-control name" placeholder="Username" required autofocus>
            <input name="password" type="password" id="inputPassword" class="form-control password"
                placeholder="Password" required>
            <button class="w-100 btn btn-lg btn-login" name="submit" type="submit">LOGIN</button>
        </form>
        <!-- show error message if user has entered wrong login information -->
        <div class="login-status mt-3">
            <% if(status == 'fail') { %>
            <%- include('partial/message') %>
            <% } %>
            <% var status; %>
        </div>
    </main>




</body>