<nav class="navbar navbar-light bg-light navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 mt-0 h1">Admin Dashboard</span>
        <h1><a href="/logout-dashboard">
            <button class="btn btn-danger" type="submit"><i class="fas fa-sign-out-alt"></i> Log Out</button>
        </a></h1>
    </div>
</nav>