<nav class="navbar navbar-light bg-light navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 mt-0 h1">Game User Dashboard</span>
        <h1><form action="/logout" method="POST">
            <button class="btn btn-danger" type="submit"><i class="fas fa-sign-out-alt"></i> Log Out</button>
          </form></h1>
    </div>
</nav>